html,
body {
  min-width: 320px;
  overflow-x: hidden;
}

html.lock,
body.lock {
  overflow: hidden;
}

body {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.header__wrapper {
  padding: 20px 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  z-index: 3;
  top: -100%;
  left: 0;
}

.header__nav {
  display: inline-block;
}

.header__nav li + li {
  padding-left: 120px;
}

.header__nav li {
  display: inline-block;
}

.header__nav li a {
  text-decoration: none;
  color: #808080;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav li a:hover {
  color: #fff;
}

.header__nav-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
}

.header__nav-btn span {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 9px;
  width: 100%;
  height: 2px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__nav-btn:before, .header__nav-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  background-color: #fff;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__nav-btn:after {
  top: auto;
  bottom: 0;
}

.header__nav-btn.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__nav-btn.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__nav-btn.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.main {
  position: relative;
  left: 0;
}

.main__wrapper {
  position: relative;
}

.main__bg {
  position: absolute;
  min-height: 100vh;
  width: 50%;
  right: 0;
  z-index: -1;
}

.main__bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.main-slider {
  z-index: 2;
}

.item {
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 30px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__img {
  position: absolute;
  left: -1px;
  top: 0;
  min-height: 100vh;
  z-index: -1;
  width: calc(50% + 1px);
}

.item__img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.item__title {
  font-size: 100px;
  font-weight: 700;
  color: #bea67c;
  letter-spacing: 12px;
  padding-bottom: 60px;
}

.item__btn {
  color: #fff;
  padding: 20px 102px 20px 82px;
  border: 2px solid #fff;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 1100;
}

.item__btn a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.item__btn::before {
  content: "";
  position: absolute;
  right: 75px;
  background: #fff;
  height: 2px;
  width: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.item__btn::after {
  content: "\e900";
  position: absolute;
  font-family: "icomoon" !important;
  right: 62px;
  top: 21px;
  font-size: 13px;
  margin: auto;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.item__btn:hover::before, .item__btn:hover::after {
  -webkit-animation: 4s ease 0s infinite normal none running arrow;
          animation: 4s ease 0s infinite normal none running arrow;
}

.item__text {
  color: rgba(190, 166, 124, 0.5);
  font-size: 14px;
  font-weight: 700;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  white-space: nowrap;
  position: absolute;
  right: 0;
  z-index: 5;
  overflow: visible;
}

.main-slider-nav {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.slick-dots {
  position: absolute;
  z-index: 5;
  top: 55%;
  padding: 0 0 0 33px;
  left: 15vw;
}

.slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
}

.slick-dots li button {
  font-size: 0;
  background: rgba(190, 166, 124, 0.3);
  border: none;
  border-radius: 50%;
  width: 7px;
  height: 12px;
}

.slick-dots .slick-active button {
  background: #bea67c;
}

.main-slider-nav-item {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider-nav-number {
  font-family: sans-serif;
  color: #bea67c;
  font-size: 52px;
  letter-spacing: 12px;
  font-weight: 700;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  white-space: nowrap;
  left: 15vw;
  position: absolute;
}

.main-slider-nav-number::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 70px;
  background: #bea67c;
  right: 90px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.furniture,
.decor,
.about,
.video {
  position: relative;
  padding-top: 90px;
}

.furniture h3,
.decor h3,
.about h3,
.video h3 {
  position: absolute;
  top: -210px;
  font-weight: 700;
  font-size: 396px;
  color: rgba(190, 166, 124, 0.15);
  z-index: 3;
}

.furniture p,
.decor p,
.about p,
.video p {
  position: absolute;
  right: -300px;
  bottom: 0;
  font-size: 170px;
  font-weight: 700;
  margin: auto;
  color: rgba(190, 166, 124, 0.15);
}

.furniture__wrapper,
.decor__wrapper,
.about__wrapper,
.video__wrapper {
  max-width: 650px;
  padding: 110px 15px 0 315px;
  display: inline-block;
  position: relative;
}

.furniture__title,
.decor__title,
.about__title,
.video__title {
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
}

.furniture__title::before,
.decor__title::before,
.about__title::before,
.video__title::before {
  content: "";
  position: absolute;
  left: -185px;
  height: 1px;
  width: 150px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #000000;
}

.furniture__text,
.decor__text,
.about__text,
.video__text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding: 30px 0;
  position: relative;
}

.furniture__text::before,
.decor__text::before,
.about__text::before,
.video__text::before {
  content: "";
  position: absolute;
  left: -80px;
  top: 0px;
  bottom: 30px;
  margin: auto;
  height: 5px;
  width: 45px;
  background: #bea67c;
}

.furniture__btn,
.decor__btn,
.about__btn,
.video__btn {
  font-weight: 700;
  font-size: 14px;
  padding: 0px 35px 10px 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.furniture__btn::before,
.decor__btn::before,
.about__btn::before,
.video__btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 45px;
  background: #bea67c;
}

.furniture__btn .arrow,
.decor__btn .arrow,
.about__btn .arrow,
.video__btn .arrow {
  color: #bea67c;
  font-size: 16px;
}

.furniture__btn .arrow::before,
.decor__btn .arrow::before,
.about__btn .arrow::before,
.video__btn .arrow::before {
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 13px;
}

.furniture__btn .arrow::after,
.decor__btn .arrow::after,
.about__btn .arrow::after,
.video__btn .arrow::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 24px;
  top: 9px;
  right: 4px;
  background: #bea67c;
}

.furniture__btn:hover .arrow:before,
.furniture__btn:hover .arrow:after,
.decor__btn:hover .arrow:before,
.decor__btn:hover .arrow:after,
.about__btn:hover .arrow:before,
.about__btn:hover .arrow:after,
.video__btn:hover .arrow:before,
.video__btn:hover .arrow:after {
  -webkit-animation: 4s ease 0s infinite normal none running arrow;
          animation: 4s ease 0s infinite normal none running arrow;
}

.furniture__img,
.decor__img,
.about__img,
.video__img {
  float: right;
  padding-left: 30px;
  position: relative;
  z-index: -1;
}

.furniture__img::before,
.decor__img::before,
.about__img::before,
.video__img::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 60px;
  background: #bea67c;
  top: -115px;
  right: 0;
}

#first {
  bottom: -87px;
  left: 43px;
}

.decor {
  padding-top: 380px;
}

.decor h3 {
  top: 90px;
  right: 210px;
}

.decor p {
  left: -90px;
  right: auto;
}

.decor__wrapper {
  padding: 110px 195px 0 120px;
}

.decor__wrapper #second {
  bottom: -87px;
  right: 0;
}

.decor__img {
  float: left;
  padding-left: 0;
}

.decor__img::before {
  top: -159px;
  right: auto;
  left: 60px;
}

.decor__title {
  text-align: right;
}

.decor__title::before {
  left: auto;
  right: -185px;
  margin: auto 0;
}

.decor__text {
  text-align: right;
}

.decor__text::before {
  left: auto;
  right: -80px;
  margin: auto 0;
}

.decor__btn {
  float: right;
}

.quality {
  padding: 300px 0 150px;
}

.quality__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.quality__text {
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  max-width: 574px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  text-transform: none;
  position: relative;
}

.quality__text::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 5px;
  width: 45px;
  background: #bea67c;
  margin: 0 auto;
}

.quality__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-top: 80px;
}

.quality__videos-video {
  position: relative;
  -webkit-perspective: 150px;
          perspective: 150px;
}

.quality__videos-text {
  text-transform: none;
  padding-top: 40px;
  position: relative;
}

.quality__videos-text::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 2px;
  width: 25px;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.video-circle__img img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 15px;
}

.video-circle__play {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  padding: 5px;
  background: rgba(190, 166, 124, 0.8);
  border-radius: 50%;
  z-index: 3;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.video-circle__play#play-design.active, .video-circle__play#play-skills.active, .video-circle__play#play-products.active {
  opacity: 0;
  -webkit-transform: translate3D(-50%, -50%, 100px);
      -ms-transform: translate3D(-50%, -50%, 100px);
          transform: translate3D(-50%, -50%, 100px);
}

.video-circle__play .playBut {
  display: block;
  -webkit-transition: all 0.5s ease;
}

.video-circle__play .playBut svg {
  display: block;
}

.video-circle__play .playBut .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #000;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.video-circle__play .playBut .circle {
  stroke: #f8aa28;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.video-circle__play .playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #f8aa28;
  -webkit-animation: nudge 0.7s ease-in-out;
          animation: nudge 0.7s ease-in-out;
}

@-webkit-keyframes nudge {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  70% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nudge {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  70% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.video-circle__play .playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}

.video-circle__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.video-circle__item.active {
  opacity: 1;
}

.video {
  background-image: url(../image/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.video__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__content {
  padding: 200px 600px 170px 240px;
  border: 1px solid #bea67c;
  max-width: 1560px;
  margin: 0 auto;
  position: relative;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.video__content::before {
  content: "\ea15";
  position: absolute;
  font-family: "icomoon" !important;
  font-size: 900px;
  color: rgba(255, 255, 255, 0.05);
  right: -80px;
  top: -55px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.video__content.active:before {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.video__title {
  color: #bea67c;
  font-size: 48px;
  max-width: 580px;
}

.video__title::before {
  background: #fff;
  bottom: 55px;
}

.video__text {
  max-width: 447px;
  color: #fff;
  padding-bottom: 40px;
}

.video__text::before {
  bottom: 70px;
}

.video__btn {
  color: #fff;
  padding: 20px 82px 20px 92px;
  border: 2px solid #fff;
  display: inline-block;
  position: relative;
  text-align: center;
  letter-spacing: 2px;
}

.video__btn::before {
  content: none;
}

.video__btn::after {
  content: "\ea15";
  font-family: "icomoon" !important;
  position: absolute;
  left: 55px;
  font-size: 24px;
  top: 15px;
  text-align: center;
}

.about {
  padding: 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about h3 {
  top: -120px;
  right: 210px;
}

.about p {
  top: 220px;
  left: -90px;
  right: auto;
}

.about__img {
  float: left;
  padding-left: 0;
}

.about__img::before {
  background: none;
}

.about__wrapper {
  padding: 110px 205px 0 95px;
}

.about__wrapper #five {
  bottom: -87px;
  right: 0;
}

.footer {
  background-image: url(../image/footer-bg.png);
  background-repeat: no-repeat;
  min-height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-weight: 500;
  color: rgba(128, 128, 128, 0.5);
}

.footer__by {
  font-weight: 500;
  color: rgba(128, 128, 128, 0.5);
  text-transform: none;
}

.footer__by span {
  color: #808080;
}

.logo {
  z-index: 4;
}

.icon-arrow-right::before {
  position: absolute;
  right: 0;
}

.icon-arrow-right::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 24px;
  right: 0;
  margin: auto;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background: #bea67c;
}

.number {
  font-size: 36px;
  font-weight: 900;
  font-family: sans-serif;
  position: absolute;
}

.number span {
  color: #bea67c;
  font-family: monospace;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  10% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  30% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  40% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  70% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  10% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  30% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  40% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  70% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
